@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        font-family: 'Roboto', sans-serif;

        @apply bg-neutral-darkest text-text-alternative;
    }

    /* body::before {
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        z-index: -1000;
        background: radial-gradient(
            ellipse at bottom,
            #1b2335 0%,
            #090a0f 100%
        );
    } */

    body::after {
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 10vh;
        z-index: 49;
        backdrop-filter: blur(10px);
        background: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0)
        );
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-poppins font-bold uppercase tracking-tight drop-shadow-custom;
    }

    h1 {
        @apply text-5xl/[1.15] md:text-6xl lg:text-8xl xl:text-10xl 2xl:text-12xl;
    }

    h2 {
        @apply text-4xl/[1.15] md:text-5xl lg:text-6xl xl:text-8xl;
    }
}

@layer utilities {
    .card-bg {
        @apply shadow-custom relative rounded-3xl border border-white/10 bg-neutral-darkest/50 before:absolute before:inset-0 before:-z-50 before:rounded-3xl before:backdrop-blur;
    }

    .page-section {
        @apply relative min-h-[90vh] px-[5%] py-16 md:py-24 lg:py-28;
    }

    .gradient-border {
        border-width: 1px;
        border-style: solid;
        border-image: linear-gradient(
                to right,
                rgba(255, 255, 255, 0.1),
                rgba(255, 255, 255, 0)
            )
            1;
    }

    .gradient-border:hover {
        border-image: linear-gradient(
                to right,
                rgb(41, 96, 247, 1),
                rgba(255, 255, 255, 0)
            )
            1;
    }

    .card-border {
        border-width: 1px;
        border-style: solid;
        border-image: linear-gradient(
                to bottom,
                rgb(41, 96, 247, 1),
                rgba(255, 255, 255, 0)
            )
            1;
    }

    .gradient-border-diag {
        border-width: 1px;
        border-style: solid;
        border-image: linear-gradient(
                150deg,
                rgba(255, 255, 255, 0.1),
                rgba(255, 255, 255, 0)
            )
            1;
    }

    [data-state='open'] .gradient-border {
        border-image: linear-gradient(
                to right,
                rgb(41, 96, 247, 1),
                rgba(255, 255, 255, 0)
            )
            1;
    }

    .fixed-size {
        width: 100vw;
        height: 100vh;
        object-fit: cover;
        position: absolute;
    }

    .mask-circle {
        mask-image: radial-gradient(
            farthest-side at 50% 50%,
            rgba(0, 0, 0, 0.7) 0%,
            rgba(0, 0, 0, 0) 100%
        );
    }

    .mask-linear-top-bottom {
        mask-image: linear-gradient(
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 0.7) 50%,
            rgba(0, 0, 0, 0) 100%
        );
    }

    .mask-linear-bottom {
        mask-image: linear-gradient(rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
    }

    .mask-rect {
        mask-image: linear-gradient(
                to top,
                rgba(0, 0, 0, 0) 0%,
                rgba(0, 0, 0, 1) 50%,
                /* rgba(0, 0, 0, 1) 50%, */ rgba(0, 0, 0, 0) 100%
            ),
            linear-gradient(
                to right,
                rgba(0, 0, 0, 0) 0%,
                rgba(0, 0, 0, 0.7) 50%,
                /* rgba(0, 0, 0, 1) 50%, */ rgba(0, 0, 0, 0) 100%
            );
        mask-composite: intersect;
        -webkit-mask-composite: source-in;
    }

    .custom-shape-divider-bottom-1727529304 {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
    }

    .custom-shape-divider-bottom-1727529304 svg {
        position: relative;
        display: block;
        width: calc(217% + 1.3px);
        height: 250px;
    }

    .custom-shape-divider-bottom-1727529304 .shape-fill {
        fill: #f5f5f5;
    }
}

@layer components {
}
