@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        font-family: 'Inter', sans-serif;
        @apply bg-neutral-darkest text-text-alternative;
    }

    body::before {
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        z-index: -1000;
        background: radial-gradient(
            ellipse at bottom,
            #1b2335 0%,
            /* #1b2735 0%, */ #090a0f 100%
        );
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-ibm font-bold uppercase leading-tight tracking-tight drop-shadow-custom;
    }

    h1 {
        @apply text-6xl md:text-9xl lg:text-10xl 3xl:text-[68px];
    }

    h2 {
        @apply text-4xl md:text-6xl lg:text-7xl 3xl:text-8xl;
    }
}
@layer utilities {
    .card-bg {
        @apply relative rounded-3xl border border-white/10 bg-neutral-darkest/50 shadow-custom before:absolute before:inset-0 before:-z-50 before:rounded-3xl before:backdrop-blur;
    }

    .page-section {
        @apply relative px-[5%] py-16 md:py-24 lg:py-28;
    }

    .gradient-border {
        border-width: 1px;
        border-style: solid;
        border-image: linear-gradient(
                to right,
                rgba(255, 255, 255, 0.1),
                rgba(255, 255, 255, 0)
            )
            1;
    }

    .gradient-border:hover {
        border-image: linear-gradient(
                to right,
                rgb(41, 96, 247, 1),
                rgba(255, 255, 255, 0)
            )
            1;
    }

    .gradient-border-diag {
        border-width: 1px;
        border-style: solid;
        border-image: linear-gradient(
                150deg,
                rgba(255, 255, 255, 0.1),
                rgba(255, 255, 255, 0)
            )
            1;
    }

    [data-state='open'] .gradient-border {
        border-image: linear-gradient(
                to right,
                rgb(41, 96, 247, 1),
                rgba(255, 255, 255, 0)
            )
            1;
    }

    .fixed-size {
        width: 100vw;
        height: 100vh;
        object-fit: cover;
        position: absolute;
    }

    .mask-circle {
        mask-image: radial-gradient(
            farthest-side at 50% 50%,
            rgba(0, 0, 0, 0.7) 0%,
            rgba(0, 0, 0, 0) 100%
        );
    }

    .mask-linear {
        mask-image: linear-gradient(
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 0.7) 50%,
            rgba(0, 0, 0, 0) 100%
        );
    }

    .mask-rect {
        mask-image: linear-gradient(
                to top,
                rgba(0, 0, 0, 0) 0%,
                rgba(0, 0, 0, 1) 50%,
                /* rgba(0, 0, 0, 1) 50%, */ rgba(0, 0, 0, 0) 100%
            ),
            linear-gradient(
                to right,
                rgba(0, 0, 0, 0) 0%,
                rgba(0, 0, 0, 0.7) 50%,
                /* rgba(0, 0, 0, 1) 50%, */ rgba(0, 0, 0, 0) 100%
            );
        mask-composite: intersect;
        -webkit-mask-composite: source-in;
    }
}

@layer components {
}
