@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        font-family: 'Inter', sans-serif;
        @apply bg-neutral-darkest text-text-alternative;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: 'IBM Plex Sans', sans-serif;
        text-transform: uppercase;
    }
}

@layer utilities {
    .blurred-bg {
        @apply border border-x-neutral-100/10 shadow-custom backdrop-blur-md;
    }

    .mask-circle {
        mask-image: radial-gradient(
            closest-side at 50% 50%,
            rgba(0, 0, 0, 0.7) 0%,
            rgba(0, 0, 0, 0) 100%
        );
        -webkit-mask-image: radial-gradient(
            closest-side at 50% 50%,
            rgba(0, 0, 0, 0.7) 0%,
            rgba(0, 0, 0, 0) 100%
        );
    }

    .fixed-size {
        width: 100vw; /* Full viewport width */
        height: 100vh; /* Full viewport height */
        object-fit: cover; /* Ensure the video covers the entire area */
        position: absolute; /* Ensure it stays in place */
        top: 0;
        left: 0;
    }
}
